<div class="profile" [ngStyle.xs]="{position: 'static', width: '100%', margin: '0 auto'}">
	<div class="profile-info">
		<img class="profile-info-image" src="../../assets/images/peppe.jpg">
  		<p class="profile-info-textcentered">Front End Developer</p>
      <p class="profile-info-textcentered">Giuseppe Cuce</p>
  		<div class="profile-links">
  			<a class="profile-links-toPage" mat-button routerLink='/works'>Works</a>
  			<a class="profile-links-toPage" mat-button routerLink='/skills'>Skills</a><br>
        <a class="profile-links-toPage" mat-button routerLink='/experience'>Experience</a>
        <a class="profile-links-toPage" mat-button routerLink='/education'>Education</a>
  		</div>
  		<div class="profile-info-contact">
  			<p>giuseppecuce.og@gmail.com</p>
  			<p>+358 449771865</p>
  			<a href="https://www.linkedin.com/in/giuseppecuce/" target="_blank">linkedin profile</a><br>
  			<a href="https://github.com/GiuseppeCuceOG" target="_blank">github profile</a>
  		</div>
	</div>
</div>
