<div class="profile">
	<div class="profile-info">
		<img class="profile-info-image" src="../../assets/images/peppe.jpg">
  		<p class="profile-info-textcentered">Front End Developer</p>
  		<div class="profile-links">
  			<a class="profile-links-toPage" mat-button routerLink='/works'>Works</a>
  			<a class="profile-links-toPage" mat-button routerLink='/skills'>Skills</a>
  		</div>
  		<div #cursorList class="profile-cursorList">
  			<div #cursor class="profile-cursor"></div>
  			<div #cursorOne class="profile-cursorOne"></div>
  			<div #cursorTwo class="profile-cursorTwo"></div>
  			<div #cursorThree class="profile-cursorThree"></div>
  		</div>
	</div>
</div>
