.profile {
	background-image: linear-gradient(105deg, #2cc6d9, #dd782c);
	background-size: 300% 300%;
	width: 15em;
	height: 100vh;
	position: fixed;
	margin-left: 2em;
	padding: 0;
	animation: profileGround 7s ease infinite;

	@keyframes profileGround {
		0% {
			background-position: 0% 84%;
		}
		50% {
			background-position: 100% 17%;
		}
		100% {
			background-position: 0% 84%;
		}
	}

	&-info {

		width: 100%;
		margin: 0 auto;
		padding-top: 2em;

		&-image {
			width: 10em;
			display: block;
  			margin-right: auto;
  			margin-left: auto;
			border-radius: 50%;
			filter: sepia(80%);
			border: .5em solid #131313;
			transition: filter .8s;

			&:hover {
				filter: sepia(0%) blur(0px);
			}
		}

		&-textcentered {
			text-align: center;
		}
	}

	&-links {

		text-align: center;

		&-toPage {
			text-decoration: none;
			color: #56ef5f;
			padding: .5em;

			&:hover {
				cursor: none;
			}
		}	
	}	
}

.active {
	color: red;
}