$rez-path: "./styles/fonts/rez.ttf";
$decterm-path: "./styles/fonts/decterm.ttf";
$typogra-path: "./styles/fonts/typographica.otf";
$running-path: "./styles/fonts/running.ttf";
$running-path-two: "./styles/fonts/runningItalic.ttf";
$font-family-brand: 'running';
$tcm-path: "./styles/fonts/tcm.ttf";
$doublebubble-path: "./styles/fonts/doublebubble.otf";
$brokenmachine-path: "./styles/fonts/brokenmachine.ttf";