<div class="experience"
	[ngStyle.gt-xs]="{'margin-left': '19em', width: '50%'}">
	<h2 class="experience-title" [ngStyle.xs]="{'margin-left': '10px'}">Experience</h2>
	<div class="experience-sector" *ngFor="let exp of experience">
		<h3 class="experience-sector-role">{{ exp.role }}</h3>
		<p class="experience-sector-company">{{ exp.company }}</p>
		<p class="experience-sector-date"> {{ exp.startDate }} - {{ exp.endDate }}</p>
		<p class="experience-sector-description">{{ exp.description }}</p>
	</div>
</div>
