.experience {
	width: 100%;
	font-family: tcm;

	&-sector {
		border: 1px solid rgba(54,145,164,1);
		border-radius: 2px;
		//background-image: linear-gradient(90deg, rgba(94,185,204,1), rgba(94,237,204,.8));
		margin: .3em 0 .3em 0;
		padding: .05em 1em;
		font-size: 1.1em;
		color: #eee;
	}

	&-title {
		margin-top: 0;
		padding-top: 1em;
		font-size: 2em;
		color: #eee;
	}
}