<div class="works"
[ngStyle.gt-xs]="{
	'margin-left': '17em',
	'margin-right': '2em'
}">
	<div class="works-list" *ngFor="let i of info">
		<a href="{{i.link}}" target="_blank" class="works-link" [ngStyle]="{'cursor': 'none'}">
			<div class="works-list-information {{i.image}}"
			[ngStyle.xs]="{'height': '113px'}">
				<div fxLayout="column" fxLayoutAlign="space-evenly" class="works-list-information-text">
					<h3 class="works-list-information-text-title">{{i.title}}</h3>
					<p class="works-list-information-text-description">{{i.description}}</p>
					<p class="works-list-information-text-tech">Technologies: {{i.technologies}}</p>
				</div>
			</div>
		</a>
	</div>
</div>
